

/* laptop */
@media (max-width: 1475px) {
    .header{
        
        margin-top: 30px;
        padding: 12px 35px;
        font-size: 20px;
    }
    .herop{
        width: auto;
    }
    .room1{
        height: 450px;
        margin: 123px;
        background-color: #E9F3F6;
        border: none;
        border-radius: 42px;
        padding: 55px 75px;
    }
    .book{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 110px;
        flex-wrap: wrap;
    }
    .grids{
        display: flex;
        flex-direction: column;
    
    }
    .grids div{
        border-radius: 40px;
    }
 }
/* tablet */
@media (max-width: 868px){
    .header{
         margin-top: 20px;
        padding: 9px 20px;
        font-size: 18px;
        background-color: transparent;
       
    }
    .header ul{
        justify-content: space-between;
        padding: 0px 10px;
    }
    .li1{
        display: none;
    }
    .logo{
        display: inline;
    }
    .menu{
        display: inline;
        
    }
    .menu:hover{
        cursor: pointer;
    }
    .herop{
        width: auto;
        font-size: 74px;
    }
    .herop p{
        margin-top: 565px;
    }
    .br1{
        display: none;
    }
    .grids div{
        width: 350px;
        border-radius: 40px;
    }
    .text1{
        text-align: center;
    }
    .text1 h4{
        display: none;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 }
 

/* Mobile */

 @media (max-width: 580px){
    .header{
        margin-top: 10px;
       padding: 6px 10px;
       font-size: 14px;
   }
   .herop{
       font-size: 54px;
   }
   .herop p{
       margin-top: 365px;
       text-align: center;
   }
   .Slide{
    margin-top: 290px;
}
.room{
    
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}
.room1{
    width: auto;
    height: 520px;
    margin: 123px 0px;
    background-color: #E9F3F6;
    border: none;
    border-radius: 42px;
    padding: 55px 75px;
    
}
.person ul{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 300px;
    padding: 19px 0px;
    margin-top: 10px;
}

.adult{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.imgdate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 22px 0px;
    background-color: #FFFFFF;
    width: 270px;
    border-radius: 12px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.position{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
    background-color: #F3F3F3;
}
.grids{
    justify-content: center;
}
.grids div{
    width: 320px;
    border-radius: 40px;
}
.card1{
    width: 300px;
    height: 440px;
    border-radius: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    padding:20px ;
}
.card{
    padding: 150px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.forset{
    padding: 100px 0px ;
    margin-top: -800px;
}
 }