*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.headersection{
        height: 1036px;
        background-image:url(images/Rectangle\ 2.png) ,url(images/unsplash_rlwE8f8anOc.png) ;
        background-size:cover,cover;
        background-repeat: no-repeat ,no-repeat;
        background-position:bottom,inherit ;
        

}
.header1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 1194px;
    margin-top: 40px;
    padding: 15px 45px;
    border-radius: 18px;
    background-color: #FFFFFF;

}
.header ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 24px;
}
.menu{
    display: none;
}
.header ul li:hover{
cursor: pointer;
color: crimson;
transform: scaleX(1.05);
transition: transform 0.3s ease-in-out;

}
/* Hero section */
.herop{
    font-size: 84px;
    font-weight: bold;
    color: #FFFFFF;
    width: 1230px;
}
.herop p{
    display: flex;
    justify-content: center;
    margin-top: 565px;
}
.Slide{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

/* Book a Room section */
.room{
    display: flex;
    justify-content: center;
}
.room1{
    width: 1700px;
    height: 320px;
    margin: 123px;
    background-color: #E9F3F6;
    border: none;
    border-radius: 42px;
    padding: 55px 75px;
}
.room1 h1{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.room1 .hp{
    font-size: 22px;
    text-align: center;
    color: #5E5E5E;
    font-weight: bold;
    margin-top: 5px;
}
.imgdate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 22px 20px;
    background-color: #FFFFFF;
    width: 270px;
    border-radius: 12px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.imgdate img:hover{
    cursor: pointer;
transform: scaleX(1.15);
transition: all ease-in-out 0.01s;
}

.person ul{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 433px;
    padding: 19px 20px;
    margin-top: 10px;
}
.adult{
    display: flex;
    align-items: center;
    gap: 10px;
}
.adult img:hover{
    cursor: pointer;
transform: scaleX(1.15);

transition: all ease-in-out 0.01s;
background: transparent;
}
.btn1{
    background-color: #65AEF2;
    padding: 18px 35px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:30px ;
}
.btn1:hover{
cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transform: scaleX(1.05);
transition: all ease-in-out 0.01s;
}
.book{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 110px;
    flex-wrap: wrap;
}
.position{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 220px;
    background-color: #F3F3F3;
}
.grids{
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 400px 400px;
    gap: 58px;
    grid-auto-flow: column;
    text-align:center;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 36px;
}
.text{
    margin-top: 290px ;
}
.text1{
    margin-top: 740px ;
}
.div1{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-image: url(images/Rectangle\ 6\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.div1:hover{
    cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transition: all ease-in-out 0.01s;
border-radius: 48px;
}
.div2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.div2:hover{
    cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transition: all ease-in-out 0.01s;
border-radius: 48px;
}
.div3{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.div3:hover{
    cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transition: all ease-in-out 0.01s;
border-radius: 48px;
}
.div4{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.div4:hover{
    cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transition: all ease-in-out 0.01s;
border-radius: 48px;
}
.div5{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.div5:hover{
    cursor: pointer;
box-shadow:5px 5px 10px #5E5E5E;
transition: all ease-in-out 0.01s;
border-radius: 48px;
}

/* Special offers */
.text1{
    padding: 0px 10px;
}
.text1 h3{
    color: #65AEF2;
    font-size: 32px;
    font-weight: bold;
}
.text1 h1{
    font-weight: bold;
    font-size: 64px;
}
.text1 h4{
    color: #65AEF2;
    font-size: 32px;
    text-align: right;
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease-in-out 0.1s;
}
h4:hover{
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
}
.text1 p{
    font-size: 24px;
color: rgba(0, 0, 0, 0.774);
}
.card1{
    width: 380px;
    height: 507px;
    border-radius: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    padding:20px ;
}
.card1 h6{
font-size: 12px;
color: #5E5E5E;
margin-top: 25px;
}
h5{
    font-size: 24px;
    font-weight: bold;
}
.h5text{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card1 p{
    color:#5E5E5E ;
    font-size: 12px;
    margin-top: 15px;
}
.imgcard{
    
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.card{
    padding: 150px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.card1:hover{
transform: scale(1.05);
transition: all ease-in-out 0.5s;
}
.forset{
    padding: 150px ;
    margin-top: -800px;
}